[Unit]
Description=Alertmanager for Prometheus
Documentation=https://prometheus.io/docs/alerting/latest/alertmanager/
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/usr/local/alertmanager/alertmanager \
    --config.file="/usr/local/alertmanager/alertmanager.yml" \
    --storage.path="/usr/local/alertmanager/data/" \
    --data.retention=120h \
    --log.level=info \
    --web.enable-lifecycle
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target